@import '~antd/dist/antd.css';

.App {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px 0;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.mt-20 {
  margin-top: 20px;
}